<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Load default controllers -->
  <include file="$(find talos_controller_configuration)/launch/bringup_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
